<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>bindings</key>
		<dict>
			<key>1</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Middle Click</string>
			</dict>
			<key>10</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Right Click (Down+Up)</string>
			</dict>
			<key>11</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Launchpad.app</string>
			</dict>
			<key>2</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Left Click</string>
			</dict>
			<key>201</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Cmd Left Click</string>
			</dict>
			<key>202</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Middle Click</string>
			</dict>
			<key>203</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Hold Both Right&amp;Left</string>
			</dict>
			<key>204</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Left Double Click</string>
			</dict>
			<key>206</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Zoom In</string>
			</dict>
			<key>207</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Zoom Out</string>
			</dict>
			<key>208</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Hide All Other Applications</string>
			</dict>
			<key>209</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>UnHide All Applications</string>
			</dict>
			<key>21</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Switch Space Left</string>
			</dict>
			<key>210</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Spotlight</string>
			</dict>
			<key>211</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>QuickLook</string>
			</dict>
			<key>22</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Switch Space Right</string>
			</dict>
			<key>220</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Switch Space Left</string>
			</dict>
			<key>221</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Switch Space Right</string>
			</dict>
			<key>222</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom Out</string>
			</dict>
			<key>223</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom In</string>
			</dict>
			<key>23</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom Out</string>
			</dict>
			<key>230</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>UnHide All Applications</string>
			</dict>
			<key>231</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Launchpad.app</string>
			</dict>
			<key>232</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Hide All Other Applications</string>
			</dict>
			<key>233</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Dashboard.app</string>
			</dict>
			<key>236</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom In</string>
			</dict>
			<key>237</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Zoom In</string>
			</dict>
			<key>238</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom Out</string>
			</dict>
			<key>239</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Zoom Out</string>
			</dict>
			<key>24</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom In</string>
			</dict>
			<key>25</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Lock Session</string>
			</dict>
			<key>26</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Lock Session</string>
			</dict>
			<key>27</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Switcher</string>
			</dict>
			<key>28</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Switcher</string>
			</dict>
			<key>3</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Cmd Left Click</string>
			</dict>
			<key>301</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Cmd Left Click</string>
			</dict>
			<key>302</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Middle Click</string>
			</dict>
			<key>303</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Hold Both Right&amp;Left</string>
			</dict>
			<key>304</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Left Double Click</string>
			</dict>
			<key>306</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Zoom In</string>
			</dict>
			<key>307</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Zoom Out</string>
			</dict>
			<key>308</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Hide All Other Applications</string>
			</dict>
			<key>309</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>UnHide All Applications</string>
			</dict>
			<key>31</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Hide All Other Applications</string>
			</dict>
			<key>310</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Spotlight</string>
			</dict>
			<key>311</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>QuickLook</string>
			</dict>
			<key>32</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>UnHide All Applications</string>
			</dict>
			<key>320</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Switch Space Left</string>
			</dict>
			<key>321</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Switch Space Right</string>
			</dict>
			<key>322</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom Out</string>
			</dict>
			<key>323</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom In</string>
			</dict>
			<key>33</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Zoom In</string>
			</dict>
			<key>330</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>UnHide All Applications</string>
			</dict>
			<key>331</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Launchpad.app</string>
			</dict>
			<key>332</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Hide All Other Applications</string>
			</dict>
			<key>333</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Dashboard.app</string>
			</dict>
			<key>336</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom In</string>
			</dict>
			<key>337</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Zoom In</string>
			</dict>
			<key>338</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom Out</string>
			</dict>
			<key>339</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Zoom Out</string>
			</dict>
			<key>34</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Zoom Out</string>
			</dict>
			<key>35</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom In</string>
			</dict>
			<key>36</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Screen Zoom Out</string>
			</dict>
			<key>4</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Dashboard.app</string>
			</dict>
			<key>5</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>N/A</string>
			</dict>
			<key>6</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Spotlight</string>
			</dict>
			<key>7</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Application Windows</string>
			</dict>
			<key>8</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Desktop</string>
			</dict>
			<key>9</key>
			<dict>
				<key>state</key>
				<string>0</string>
				<key>target</key>
				<string>Left Click (Down+Up)</string>
			</dict>
		</dict>
		<key>scrolling</key>
		<dict>
			<key>four finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
			<key>one finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
			<key>three finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
			<key>two finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
		</dict>
		<key>scrollzone</key>
		<dict>
			<key>h</key>
			<string>1.00</string>
			<key>w</key>
			<string>1.00</string>
			<key>x</key>
			<string>0.00</string>
			<key>y</key>
			<string>0.00</string>
		</dict>
		<key>tapSensMacbook</key>
		<integer>10</integer>
		<key>tapSensMouse</key>
		<integer>10</integer>
		<key>tapSensTrackpad</key>
		<integer>10</integer>
		<key>zones</key>
		<dict>
			<key>1</key>
			<dict>
				<key>h</key>
				<string>0.89</string>
				<key>w</key>
				<string>0.34</string>
				<key>x</key>
				<string>0.34</string>
				<key>y</key>
				<string>0.08</string>
			</dict>
			<key>10</key>
			<dict>
				<key>h</key>
				<string>0.75</string>
				<key>w</key>
				<string>0.41</string>
				<key>x</key>
				<string>0.53</string>
				<key>y</key>
				<string>0.20</string>
			</dict>
			<key>11</key>
			<dict>
				<key>h</key>
				<string>0.22</string>
				<key>w</key>
				<string>0.35</string>
				<key>x</key>
				<string>0.33</string>
				<key>y</key>
				<string>0.01</string>
			</dict>
			<key>206</key>
			<dict>
				<key>h</key>
				<string>0.52</string>
				<key>w</key>
				<string>0.98</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.46</string>
			</dict>
			<key>207</key>
			<dict>
				<key>h</key>
				<string>0.45</string>
				<key>w</key>
				<string>0.98</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>208</key>
			<dict>
				<key>h</key>
				<string>0.98</string>
				<key>w</key>
				<string>0.51</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>209</key>
			<dict>
				<key>h</key>
				<string>0.98</string>
				<key>w</key>
				<string>0.47</string>
				<key>x</key>
				<string>0.51</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>230</key>
			<dict>
				<key>h</key>
				<string>0.99</string>
				<key>w</key>
				<string>0.48</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>231</key>
			<dict>
				<key>h</key>
				<string>0.99</string>
				<key>w</key>
				<string>0.50</string>
				<key>x</key>
				<string>0.48</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>232</key>
			<dict>
				<key>h</key>
				<string>0.99</string>
				<key>w</key>
				<string>0.48</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>233</key>
			<dict>
				<key>h</key>
				<string>0.99</string>
				<key>w</key>
				<string>0.50</string>
				<key>x</key>
				<string>0.49</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>236</key>
			<dict>
				<key>h</key>
				<string>0.49</string>
				<key>w</key>
				<string>0.99</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.49</string>
			</dict>
			<key>237</key>
			<dict>
				<key>h</key>
				<string>0.48</string>
				<key>w</key>
				<string>0.99</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>238</key>
			<dict>
				<key>h</key>
				<string>0.49</string>
				<key>w</key>
				<string>0.99</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.49</string>
			</dict>
			<key>239</key>
			<dict>
				<key>h</key>
				<string>0.49</string>
				<key>w</key>
				<string>0.99</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>306</key>
			<dict>
				<key>h</key>
				<string>0.50</string>
				<key>w</key>
				<string>0.98</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.48</string>
			</dict>
			<key>307</key>
			<dict>
				<key>h</key>
				<string>0.48</string>
				<key>w</key>
				<string>0.98</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>308</key>
			<dict>
				<key>h</key>
				<string>0.99</string>
				<key>w</key>
				<string>0.47</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>309</key>
			<dict>
				<key>h</key>
				<string>0.99</string>
				<key>w</key>
				<string>0.50</string>
				<key>x</key>
				<string>0.47</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>330</key>
			<dict>
				<key>h</key>
				<string>0.97</string>
				<key>w</key>
				<string>0.46</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>331</key>
			<dict>
				<key>h</key>
				<string>0.98</string>
				<key>w</key>
				<string>0.51</string>
				<key>x</key>
				<string>0.46</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>332</key>
			<dict>
				<key>h</key>
				<string>0.97</string>
				<key>w</key>
				<string>0.47</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>333</key>
			<dict>
				<key>h</key>
				<string>0.97</string>
				<key>w</key>
				<string>0.50</string>
				<key>x</key>
				<string>0.48</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>336</key>
			<dict>
				<key>h</key>
				<string>0.50</string>
				<key>w</key>
				<string>0.98</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.48</string>
			</dict>
			<key>337</key>
			<dict>
				<key>h</key>
				<string>0.48</string>
				<key>w</key>
				<string>0.98</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>338</key>
			<dict>
				<key>h</key>
				<string>0.48</string>
				<key>w</key>
				<string>0.98</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.49</string>
			</dict>
			<key>339</key>
			<dict>
				<key>h</key>
				<string>0.49</string>
				<key>w</key>
				<string>0.98</string>
				<key>x</key>
				<string>0.00</string>
				<key>y</key>
				<string>0.00</string>
			</dict>
			<key>9</key>
			<dict>
				<key>h</key>
				<string>0.75</string>
				<key>w</key>
				<string>0.41</string>
				<key>x</key>
				<string>0.06</string>
				<key>y</key>
				<string>0.20</string>
			</dict>
		</dict>
	</dict>
	<key>Gaming</key>
	<dict>
		<key>bindings</key>
		<dict>
			<key>1</key>
			<dict>
				<key>state</key>
				<string>1</string>
				<key>target</key>
				<string>Middle Click</string>
			</dict>
			<key>3</key>
			<dict>
				<key>state</key>
				<string>1</string>
				<key>target</key>
				<string>Hold Both Right&amp;Left</string>
			</dict>
		</dict>
		<key>scrolling</key>
		<dict>
			<key>four finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
			<key>one finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
			<key>three finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
			<key>two finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
		</dict>
		<key>scrollzone</key>
		<dict>
			<key>h</key>
			<string>1.00</string>
			<key>w</key>
			<string>1.00</string>
			<key>x</key>
			<string>0.00</string>
			<key>y</key>
			<string>0.00</string>
		</dict>
		<key>tapSensMacbook</key>
		<integer>10</integer>
		<key>tapSensMouse</key>
		<integer>10</integer>
		<key>tapSensTrackpad</key>
		<integer>10</integer>
		<key>TrackingMouse</key>
		<real>4</real>
		<key>TrackingTrackpad</key>
		<integer>2</integer>
		<key>zones</key>
		<dict>
			<key>1</key>
			<dict>
				<key>h</key>
				<string>0.89</string>
				<key>w</key>
				<string>0.34</string>
				<key>x</key>
				<string>0.34</string>
				<key>y</key>
				<string>0.08</string>
			</dict>
			<key>10</key>
			<dict>
				<key>h</key>
				<string>0.75</string>
				<key>w</key>
				<string>0.41</string>
				<key>x</key>
				<string>0.53</string>
				<key>y</key>
				<string>0.20</string>
			</dict>
			<key>11</key>
			<dict>
				<key>h</key>
				<string>0.22</string>
				<key>w</key>
				<string>0.35</string>
				<key>x</key>
				<string>0.33</string>
				<key>y</key>
				<string>0.01</string>
			</dict>
			<key>31</key>
			<dict>
				<key>h</key>
				<string>0.16</string>
				<key>w</key>
				<string>0.59</string>
				<key>x</key>
				<string>0.02</string>
				<key>y</key>
				<string>0.02</string>
			</dict>
			<key>32</key>
			<dict>
				<key>h</key>
				<string>0.16</string>
				<key>w</key>
				<string>0.59</string>
				<key>x</key>
				<string>0.39</string>
				<key>y</key>
				<string>0.02</string>
			</dict>
			<key>9</key>
			<dict>
				<key>h</key>
				<string>0.75</string>
				<key>w</key>
				<string>0.41</string>
				<key>x</key>
				<string>0.06</string>
				<key>y</key>
				<string>0.20</string>
			</dict>
		</dict>
	</dict>
	<key>Graphics, 3D, CAD</key>
	<dict>
		<key>bindings</key>
		<dict>
			<key>1</key>
			<dict>
				<key>state</key>
				<string>1</string>
				<key>target</key>
				<string>Middle Click</string>
			</dict>
			<key>3</key>
			<dict>
				<key>state</key>
				<string>1</string>
				<key>target</key>
				<string>Hold Both Right&amp;Left</string>
			</dict>
			<key>4</key>
			<dict>
				<key>state</key>
				<string>1</string>
				<key>target</key>
				<string>Application Windows</string>
			</dict>
			<key>7</key>
			<dict>
				<key>state</key>
				<string>1</string>
				<key>target</key>
				<string>Desktop</string>
			</dict>
		</dict>
		<key>scrolling</key>
		<dict>
			<key>four finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
			<key>one finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
			<key>three finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
			<key>two finger</key>
			<string>Diagonal,Vertical,Horizontal</string>
		</dict>
		<key>scrollzone</key>
		<dict>
			<key>h</key>
			<string>1.00</string>
			<key>w</key>
			<string>1.00</string>
			<key>x</key>
			<string>0.00</string>
			<key>y</key>
			<string>0.00</string>
		</dict>
		<key>tapSensMacbook</key>
		<integer>10</integer>
		<key>tapSensMouse</key>
		<integer>10</integer>
		<key>tapSensTrackpad</key>
		<integer>10</integer>
		<key>TrackingMouse</key>
		<real>4</real>
		<key>TrackingTrackpad</key>
		<integer>2</integer>
		<key>zones</key>
		<dict>
			<key>1</key>
			<dict>
				<key>h</key>
				<string>0.89</string>
				<key>w</key>
				<string>0.34</string>
				<key>x</key>
				<string>0.34</string>
				<key>y</key>
				<string>0.08</string>
			</dict>
			<key>10</key>
			<dict>
				<key>h</key>
				<string>0.75</string>
				<key>w</key>
				<string>0.41</string>
				<key>x</key>
				<string>0.53</string>
				<key>y</key>
				<string>0.20</string>
			</dict>
			<key>11</key>
			<dict>
				<key>h</key>
				<string>0.22</string>
				<key>w</key>
				<string>0.35</string>
				<key>x</key>
				<string>0.33</string>
				<key>y</key>
				<string>0.01</string>
			</dict>
			<key>31</key>
			<dict>
				<key>h</key>
				<string>0.16</string>
				<key>w</key>
				<string>0.59</string>
				<key>x</key>
				<string>0.02</string>
				<key>y</key>
				<string>0.02</string>
			</dict>
			<key>32</key>
			<dict>
				<key>h</key>
				<string>0.16</string>
				<key>w</key>
				<string>0.59</string>
				<key>x</key>
				<string>0.39</string>
				<key>y</key>
				<string>0.02</string>
			</dict>
			<key>9</key>
			<dict>
				<key>h</key>
				<string>0.75</string>
				<key>w</key>
				<string>0.41</string>
				<key>x</key>
				<string>0.06</string>
				<key>y</key>
				<string>0.20</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
